:root {
  --accent: #00adb5;
}

body {
  grid-template-columns: 1fr 80% 1fr;
}

button:enabled:hover {
  filter: none;
}

.td-link,
.td-remove,
.td-update {
  min-width: 15px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.td-link {
  background-image: url(img/link.svg);
}

.td-remove {
  background-image: url(img/remove.svg);
}

.td-update {
  background-image: url(img/update.svg);
}

@media (prefers-color-scheme: dark) {
  .td-link {
    background-image: url(img/link-light.svg);
  }

  .td-remove {
    background-image: url(img/remove-light.svg);
  }

  .td-update {
    background-image: url(img/update-light.svg);
  }
}
